@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
    from {
        opacity: 0%;
        transform: translateY(100%);
    }

    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.fadeUp1 {
    animation-name: fadeUp;
    animation-duration: 1s;
}

.fadeUp2 {
    animation-name: fadeUp;
    animation-duration: 1.5s;
}

.fadeUp3 {
    animation-name: fadeUp;
    animation-duration: 2s;
}

.fadeUp4 {
    animation-name: fadeUp;
    animation-duration: 2.5s;
}